{% extends 'admin-base.html' %}

{% block content %}


    <!--START-MAIN-->
    <main>
        <table class="table" style="width: 100%">
            <thead>
            <tr>
                <th scope="col">عنوان</th>
                <th scope="col">#</th>
                <th scope="col">#</th>
                <th scope="col">#</th>
            </tr>
            </thead>
            <tbody>
            {% for product in object_list %}
                <tr>
                    <td>{{ product.title }}</td>
                    <td>
                        <a href="{% url 'product-update' product.pk %}">ویرایش</a>
                    </td>
                    <td>
                        <a href="{% url 'product-advanced-update' product.pk %}">پیشرفته</a>
                    </td>
                    <td>
                        <a href="{% url 'product-delete' product.pk %}">حذف</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </main>
    <!--END-MAIN-->
{% endblock %}

{% block title %}
    محصولات
{% endblock %}