{% extends 'admin-base.html' %}

{% block content %}


    <!--START-MAIN-->
    <main>
        <table style="width: 70%">

            <tr>
                <th>عنوان</th>
            </tr>
            {% for product in object_list %}
                <tr>
                    <td>{{ product.title }}</td>
                    <td>
                        <a href="{% url 'product-update' product.pk %}">ویرایش</a>
                    </td>
                    <td>
                        <a href="{% url 'product-advanced-update' product.pk %}">پیشرفته</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </main>
    <!--END-MAIN-->
{% endblock %}

{% block title %}
    test heed
{% endblock %}