{% extends 'admin-base.html' %}

{% block content %}

    <main class="custom-admin-main container">
        <div class="row">
            <div class="col-4">
                <h5></h5>
                {% if product_list_id %}

                    <p class="text-danger font-weight-bolder">این ویژگی برای محصولات رکورد شده , دسترسی برای حذف محدود
                        شده</p>


                {% else %}
                    <form method="post">{% csrf_token %}
                        <h5 class="text-danger font-weight-bolder"> حذف {{ object }}</h5>
                        <p> آیا مطمعن هستید ؟ </p>
                        <input class="btb d-inline-block btn-danger w-100" type="submit" value="حذف">
                    </form>

                {% endif %}

            </div>
            <div class="col-8 ">

                <h5 class="font-weight-bolder text-primary">
                    محصولات مرتبط
                </h5>
                <div>

                </div>
                <ul class="list-style-none">
                    {% for product in products %}
                        <li>
                            {{ product.title }}
                        </li>

                    {% endfor %}
                </ul>


            </div>

        </div>
    </main>
    <!--END-MAIN-->

{% endblock %}

{% block title %}
    test heed
{% endblock %}


{% block customjs %}
    <script>
        $('.js-example-basic-single').select2();
        $('.js-example-basic-single-two').select2();

        function changeFilter() {

            $('#filterlink').attr('href', '/gheymat-admin/category/' + $('#filter').val() + '/category-attribute/add')

        }

    </script>
{% endblock %}

{% block customstyle %}
    <style>
        .min-width-set {
            min-width: 200px;
        }

        .clear-fix {
            clear: both;
        }

        .category-table-row {

            margin-bottom: 0;
            padding: 0px 15px;
            border-bottom: 1px solid #eee;
        }

        .sub-category-table-row {
            margin-right: 25px;
        }

        .category-table-colm {
            display: inline-block;
            margin-bottom: 0;
            padding: 8px 15px;
        }

        .custom-admin-main {
            padding: 20px;
        }

        .cat-block {
            display: inline-block;
            width: 45%;
            vertical-align: top;
        }
    </style>
{% endblock %}