{% extends 'admin-base.html' %}

{% block content %}

    <main class="custom-admin-main container">
        <div class="row">
            <div class="col-4">


                <form method="post">{% csrf_token %}
                    <h5 class="text-danger font-weight-bolder"> حذف {{ object }}</h5>
                    <p> آیا مطمعن هستید ؟ </p>
                    <input class="btb d-inline-block btn-danger w-100" type="submit" value="حذف">
                </form>
            </div>
            <div class="col-8 ">

                {% include 'partials/admin/category-category-selctor.html' %}

                {% for category in categories %}
                    {% if not category.parent %}
                        <div class="category-table">
                            <div class="category-table-row">

                                <p class="category-table-colm">
                                    {{ category.name }}
                                </p>
                                <p class="category-table-colm">
                                <span onclick="showSubCat(this , {{ category.id }})">
                                     <i class="fa-solid fa-angles-down"></i>
                                </span>
                                </p>
                                <p class="category-table-colm">
                                    <a href="{% url 'category-update' category.pk %}">ویرایش</a>
                                </p>

                                <p class="category-table-colm">
                                    <a href="{% url 'category-delete' category.pk %}">حذف</a>
                                </p>
                            </div>

                        </div>
                    {% endif %}



                {% endfor %}


            </div>

        </div>
    </main>
    <!--END-MAIN-->

{% endblock %}

{% block title %}
    test heed
{% endblock %}


{% block customjs %}
    <script>
        var jsonCategory = {{ json_categories|safe }};
        console.log(jsonCategory)

        function showSubCat(element, cat_id) {

            if (jQuery('#sub-' + cat_id).length === 1) {
                jQuery('#sub-' + cat_id + ':visible').slideUp()
                jQuery('#sub-' + cat_id + ':visible .sub-category-table-row').slideUp()
                jQuery('#sub-' + cat_id + ':hidden').slideDown()
            } else {
                subCategroHTMLMaker = '<div class="sub-category-table-row" id="sub-' + cat_id + '">'
                for (var category in jsonCategory) {
                    if (jsonCategory[category]['fields']['parent'] === cat_id) {
                        subCategroHTMLMaker += '<div class="category-table"><div class="category-table-row"><p class="category-table-colm">'
                        subCategroHTMLMaker += jsonCategory[category]['pk']
                        subCategroHTMLMaker += '</p><p class="category-table-colm">'
                        subCategroHTMLMaker += jsonCategory[category]['fields']['name']
                        subCategroHTMLMaker += '</p><p class="category-table-colm"> <span href="" onclick="showSubCat(this ,'
                        subCategroHTMLMaker += jsonCategory[category]['pk']
                        subCategroHTMLMaker += ' )">more</span> </p>'
                        subCategroHTMLMaker += ''
                        subCategroHTMLMaker += '<p class="category-table-colm">' +
                            '<a href="/dj-admin/category/' + jsonCategory[category]['pk'] + '">' +
                            'ویرایش' +
                            '</a>' +
                            '</p>'


                        subCategroHTMLMaker += '<p class="category-table-colm">' +
                            '<a href="/dj-admin/category/' + jsonCategory[category]['pk'] + '/delete">' +
                            'حذف' +
                            '</a>' +
                            '</p>'
                        subCategroHTMLMaker += '</div></div>'

                    }
                }
                subCategroHTMLMaker += '</div>'
                jQuery(element).parent().parent().parent().append(subCategroHTMLMaker)
            }

        }

    </script>
{% endblock %}

{% block customstyle %}
    <style>
        .alert-dismissible {
            padding-right: 1.25rem !important;
            padding-left: 4rem !important;
        }

        .alert-dismissible .close {
            right: unset !important;
            left: 0 !important;
        }

        .category-table-row {

            margin-bottom: 0;
            padding: 0px 15px;
            border-bottom: 1px solid #eee;
        }

        .sub-category-table-row {
            margin-right: 25px;
        }

        .category-table-colm {
            display: inline-block;
            margin-bottom: 0;
            padding: 8px 15px;
        }

        .custom-admin-main {
            padding: 20px;
        }

        .cat-block {
            display: inline-block;
            width: 45%;
            vertical-align: top;
        }

        .category-table {
            display: table;
            width: 100%;
        }

        .category-table-row {
            display: table-row;
        }

        .category-table-colm {
            display: table-column;
        }

        .product-category-selector ul li {
            border-bottom: 1px solid #eee;
        }

        .product-category-selector ul li p {
            margin-bottom: 0;
        }

        .product-category-selector ul li > p:nth-child(2) {
            float: left;
            margin: 5px 10px;
        }

        .product-category-selector ul li > p:nth-child(3) {
            float: left;
            margin: 5px 10px;
        }

        .product-category-selector ul li > p:nth-child(4) {
            float: left;
            margin: 5px 10px;
        }

        .clear-fix {
            clear: both;
        }

        .product-category-selector ul {
            margin: 0;
            padding-right: 10px;

        }

    </style>
{% endblock %}