{% extends 'admin-base.html' %}
{% load static %}
{% block content %}
    <!--START-MAIN-->




    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <main class="custom-admin-main container">
            <div class="row pt-4 pb-4">
                <div class="product-block col-8">


                    <p>
                        <input class="form-control" name="title" type="text" placeholder="عنوان"
                               value="{{ product.title }}"
                        >
                    </p>


                    <p>
                        <textarea name="context" id="mytextarea">
                            {{ product.description }}
                        </textarea>
                    </p>


                    <div class="seo-wrapper">
                        <div>
                            <label for="">متا تایتل</label>
                            <input type="text" name="meta_title" class="form-control"
                                   value="{{ product.meta_title }}">
                        </div>
                        <div>
                            <label for="">متا دیسکرپشن</label>
                            <input type="text" name="meta_description" class="form-control"
                                   value="{{ product.meta_description }}">
                        </div>
                        <div>

                            <label for="">no index</label>
                            <input type="checkbox" value="on">


                        </div>
                        <p>
                            <label for="">
                                پیوند یکتا
                            </label>
                            <input type="text" name="slug" class="form-control"
                                   value="{{ product.slug }}"
                            >
                        </p>
                    </div>


                </div>
                <div class="inner-side col-4">


                    {% include 'partials/admin/product-category-selector.html' %}

                    <p>
                        <label for="">برند</label>
                        <br>
                        <select class="js-example-basic-single form-control" name="state">
                            {% for b in brand %}
                                <option value="{{ b.id }}">  {{ b.name }}</option>
                            {% endfor %}


                        </select>

                    </p>

                    <div id="image-uploader" style="border: 1px solid #eee">
                        <img id="uploader-icon" width="" height="100"
                             src="{% static '/customadmin/imageuploader.png' %}"
                             alt="your image"/>
                        <div class="on-upload">

                        </div>

                    </div>


                    <input type="file" id="imgInp" onchange="fileProcessor()" style="display: none">


                </div>

                <input type="submit" value="ذخیره" class="btn-success w-100">
            </div>
        </main>
    </form>

    <!--END-MAIN-->
{% endblock %}

{% block customjs %}
    <script>
        tinymce.init({
            selector: 'textarea#mytextarea',
            height: 500,
            menubar: false,
            plugins: [
                'advlist', 'autolink', 'lists', 'link', 'image', 'charmap', 'preview',
                'anchor', 'searchreplace', 'visualblocks', 'code', 'fullscreen',
                'insertdatetime', 'media', 'table', 'code', 'help', 'wordcount'
            ],
            toolbar: 'undo redo | blocks | ' +
                'bold italic backcolor | alignleft aligncenter ' +
                'alignright alignjustify | bullist numlist outdent indent | ' +
                'removeformat | help',
            content_style: 'body { font-family:Helvetica,Arial,sans-serif; font-size:16px }',
            language: 'fa',
            {#language_url: '/langs/fa_IR.js',#}
            directionality: 'rtl'
        });
        jQuery('#uploader-icon').click(function () {
            jQuery('#imgInp').trigger('click');
        });

        function fileProcessor() {

            namemaker = ''

            for (let i = 0; i < document.getElementById('imgInp').files.length; i++) {
                namemaker += '<p class="uploaded-wrapper">' +
                    '<img src="' +
                    URL.createObjectURL(document.getElementById('imgInp').files[i]) +
                    '" alt="">' +
                    '<input name="alt-text" value="' +
                    {#document.getElementById('imgInp').files[i].name +#}
                    '">' +
                    {#'<span class="btn-border">تایید</span>' +#}
                    '<span class="btn-border">حذف</span></p>'

            }
            jQuery('#uploader-icon').hide()
            jQuery('.on-upload').html(namemaker)
        }


        $('.js-example-basic-single').select2();
        $('.js-example-basic-multiple').select2();
    </script>
{% endblock %}

{% block customstyle %}
    <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
{% endblock %}