{% extends 'admin-base.html' %}

{% block title %}
    <title>
        {% if is_new %}
            افزودن
            برند
        {% else %}

            ویرایش
             {{ current_brand.name }}

        {% endif %}

    </title>
{% endblock %}



{% block content %}
    <!--START-MAIN-->

    <main class="custom-admin-main container">
        <div class="row">
            <div class="cat-block col-6 mt-4">


                <h5 class="text-primary">
                    {% if is_new %}
                        افزودن

                    {% else %}

                        ویرایش
                        <b> {{ current_brand.name }}</b>

                    {% endif %}
                </h5>
                {% if rise_error %}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <p class="mb-0 pb-0">{{ rise_error }}</p>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>


                {% endif %}
                <form action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="mt-2">

                        <input type="text" class="form-control" name="title" placeholder="عنوان"
                               value="{{ current_brand.name }}">
                    </div>
                    <div class="mt-2">

                        <input type="text" class="form-control" name="slug" required placeholder="ادرس اینترنتی"
                               value="{{ current_brand.slug }}">
                    </div>
                    <div class="mt-2">

                        <label for="" style="display: inline-block"> عکس شاخص</label>

                        <input type="file" name="pic" style="display: inline-block">
                        {% if current_brand.get_photo_url %}
                            <img width="100px" src="{{ current_brand.get_photo_url }}" alt="">
                        {% endif %}
                    </div>
                    <div class="mt-2">
                        <input type="submit" class="btn btn-success w-100" value="ذخیره">
                    </div>
                </form>
            </div>
            <div class="cat-block col-6 mt-4">
                <table>
                    <tr>

                        <th>
                            <b>دسته بندی</b>
                        </th>
                        <th>
                            <b>عکس شاخص</b>
                        </th>
                        <th>
                            <b>#</b>
                        </th>
                        <th>
                            <b>#</b>
                        </th>
                    </tr>


                    {% for brand in brands %}

                        <tr>


                            <td>
                                {{ brand.name }}
                            </td>
                            <td>
                                {% if brand.get_photo_url %}
                                    <img style="max-width: 100px;max-height: 50px" src="{{ brand.get_photo_url }}"
                                         alt="">
                                {% endif %}
                            </td>
                            <td>
                                <a href="{% url 'brand-update' brand.pk %}">ویرایش</a>
                            </td>
                            <td>
                                <a href="{% url 'brand-delete' brand.pk %}">حذف</a>
                            </td>


                        </tr>



                    {% endfor %}


                </table>


    </main>
    <!--END-MAIN-->
{% endblock %}




{% block customjs %}

{% endblock %}

{% block customstyle %}
    <style>
        table {
            width: 100%;

        }

        table tr {
            border-bottom: 1px solid #eee;
        }

        table tr > td {
            padding: 10px;
        }

        table tr > td:nth-child(3) {
        }

        table tr > td:nth-child(4) {
        }

        table tr > th {
            padding: 10px;
        }
    </style>
{% endblock %}