{% extends 'admin-base.html' %}
{% load static %}
{% block content %}
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <main class="custom-admin-main container">
            <div class="row pt-4 pb-4">
                <div class="product-block col-8">


                    <p>
                        <input class="form-control" readonly name="title" type="text" placeholder="عنوان"
                               value="{{ product.title }}"
                        >
                    </p>

                    <div>
                        <span>
                              دسته بندی :

                        </span>


                        {% for category in product.category.all %}

                            <span>
                             {{ category.name }}

                            </span>
                        {% endfor %}
                    </div>
                    <div>
                        <p>

                            {% for attribute in categoryattribute %}
                                <div>
                                    <label for="">
                                        {{ attribute }}
                                    </label>

                                    <select
                                            class="js-example-basic-single form-control w-60" name="attribute[]">

                                        <option value="">
                                            _________

                                        </option>
                                        {% for attributevalue in categoryattributevalue %}

                                            {% if  attributevalue.category_attribute.pk  == attribute.pk %}

                                                <option value="{{ attributevalue.pk }}"
                                                        {% if attributevalue|safe in productcategoryattributevalue|safe %}
                                                        selected
                                                        {% endif %}
                                                >
                                                    {{ attributevalue|safe }}
                                                </option>



                                            {% endif %}

                                        {% endfor %}
                                    </select>

                                    <span>
                                        <input type="checkbox" name="{{ attribute.pk }}"
                                                {% for arca in attribute.related_category_attribute.all %}

                                                    {% for sh in arca.related_category_attribute_value.all %}
                                                        {% if sh.in_header %}

                                               checked
                                                        {% endif %}

                                                    {% endfor %}
                                                {% endfor %}
                                        >


                                        <p style="display: inline-block">
                                            ویژه

                                        </p>

                                    </span>
                                </div>
                            {% endfor %}
                        </p>
                    </div>


                </div>
                <div class="col-4">
                    <div class="mb-2 border-bottom">
                        <p class="d-inline-block font-weight-bolder pt-2">
                            محصولات مرتبط
                        </p>
                        <p class="btn btn-primary d-inline-block float-left" onclick="productRelCreator()">افزودن
                        </p>
                    </div>
                    <div id="relationmaker" class="mb-2 border-bottom" style="display: none">
                        <div>
                            <p class="d-inline-block">
                                افزودن محصول مرتبط
                            </p>
                            <span class="d-inline-block text-danger cursor-pointer float-left"
                                  onclick="closeProductRelCreator()">
                                <i class="fa-solid fa-circle-xmark"></i>
                            </span>
                        </div>
                        <div class="relationmaker-body">
                            <input type="text" class="w-100  mb-2" placeholder="عنوان">
                            <select name="" id="pro-rel" class="">
                                {% for pro in category_product %}
                                    <option value="">
                                        {{ pro }}
                                    </option>
                                {% endfor %}
                            </select>
                            <p class="btn  btn-primary d-inline-block w-100 mt-2 mb-2" onclick="RelCreator()">افزودن</p>
                        </div>
                    </div>
                    <div id="relation" class="mb-2">
                        <table class="">
                            <tr>
                                <th>عنوان</th>
                                <th>محصول</th>
                                <th></th>
                            </tr>
                            {% for pro in product_rel %}
                                <tr>
                                    <td>
                                        <input type="hidden" name="rel[][name]" readonly value="{{ pro }}">
                                        {{ pro }}
                                    </td>
                                    <td>
                                        <input type="hidden" readonly name="rel[][product]"
                                               value="{{ pro.product_rel.id }}">
                                        {{ pro.product_rel }}
                                    </td>
                                    <td>
                                        <i class="fa-solid fa-trash"></i>
                                    </td>
                                </tr>
                            {% endfor %}


                        </table>


                    </div>
                </div>


                <input type="submit" value="ذخیره" class="btn-success w-100">
            </div>
        </main>
    </form>

    <main class="custom-admin-main">

        <input type="file" id="file-uploader" multiple>
        <div>

        </div>


        {% csrf_token %}

        <p>
            <button id="image-uploader-multy">اپلود</button>
            <input name="image-gallery" type="file" multiple>
        <div class="image-uploader-wrapper" style="display: none">
            hello word!
        </div>
        </p>
        <p>
            <textarea name="context" id="mytextarea"></textarea>
        </p>
        <input type="submit">

    </main>
    <!--END-MAIN-->
{% endblock %}




{% block customjs %}
    <script>
        $('.js-example-basic-single').select2();

        function productRelCreator() {

            $('#relationmaker').slideDown('fast')

        }

        function closeProductRelCreator() {
            $('#relationmaker').slideUp('fast')
        }

        function RelCreator() {
            alert(123456)
        }

        $('#pro-rel').select2();

    </script>
{% endblock %}

{% block customstyle %}
    <style>
        .category-table-row {

            margin-bottom: 0;
            padding: 0px 15px;
            border-bottom: 1px solid #eee;
        }

        .sub-category-table-row {
            margin-right: 25px;
        }

        .category-table-colm {
            display: inline-block;
            margin-bottom: 0;
            padding: 8px 15px;
        }

        .custom-admin-main {
            padding: 20px;
        }

        .cat-block {
            display: inline-block;
            width: 45%;
            vertical-align: top;
        }
    </style>
    <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>


{% endblock %}