{% extends 'admin-base.html' %}

{% block content %}
    <!--START-MAIN-->

    <main class="custom-admin-main">
        {% for f in form %}
            {{ f.attribute }}
        {% endfor %}


    </main>
    <!--END-MAIN-->
{% endblock %}

{% block title %}
    test heed
{% endblock %}


{% block customjs %}

{% endblock %}

{% block customstyle %}
    <style>
        .category-table-row {

            margin-bottom: 0;
            padding: 0px 15px;
            border-bottom: 1px solid #eee;
        }

        .sub-category-table-row {
            margin-right: 25px;
        }

        .category-table-colm {
            display: inline-block;
            margin-bottom: 0;
            padding: 8px 15px;
        }

        .custom-admin-main {
            padding: 20px;
        }

        .cat-block {
            display: inline-block;
            width: 45%;
            vertical-align: top;
        }
    </style>
    <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
{% endblock %}