{% extends 'admin-base.html' %}
{% block title %}
    <title>
   ویرایش
                    ویژگی

                    {{ current_category_attribute.name }}

    </title>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row mt-2">
            <div class="cat-block col-4">


                <h5 class="font-weight-bolder text-primary">
                    ویرایش
                    ویژگی

                    {{ current_category_attribute.name }}
                </h5>
                {% if rise_error %}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <p class="mb-0 pb-0">{{ rise_error }}</p>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>


                {% endif %}
                <form action="" method="post">
                    {% csrf_token %}
                    <div class="mb-2">
                        <input type="text" name="name" class="form-control" placeholder="عنوان"
                               value="{{ current_category_attribute.name }}">
                    </div>
                    <div class="mb-2">
                        <select name="category_id" class="js-example-basic-single form-control" id="">
                            {% for cat in category %}
                                {% if not cat.child_category_list.all %}
                                    <option {% if  current_category_attribute.category_id == cat.pk %}
                                        selected="selected" {% endif %} value="{{ cat.pk }}">
                                        {{ cat.name }}
                                    </option>
                                {% endif %}
                            {% endfor %}


                        </select>
                    </div>
                    <div class="mb-2">
                        <input type="text" class="form-control" name="slug"
                               value="{{ current_category_attribute.slug }}" placeholder="slug">
                    </div>
                    <input type="submit" class="btn btn-success w-100" value="ذخیره">
                </form>
            </div>
            <div class="cat-block col-8">

                <h5 class="font-weight-bolder text-primary">
                    ویژگی دسته بندی
                </h5>
                <div>
                    <span>فیلتر</span>
                    <select name="" class="js-example-basic-single-two" onchange="changeFilter()" id="filter">
                        {% for cat in category %}
                            <option selected value="">
                                همه
                            </option>
                            {% if not cat.child_category_list.all %}
                                <option value="{{ cat.pk }}">
                                    {{ cat.name }}
                                </option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    <a class="btn btn-outline-secondary btn-sm" id="filterlink"
                       href="/gheymat-admin/category-attribute/add">اعمال</a>
                </div>
                <ul class="list-style-none">
                    {% for obj in category_attribute %}
                        <li class="category-table">
                            <div class="category-table-row">
                                <p class="category-table-colm min-width-set">
                                    {{ obj }}
                                </p>
                                <p class="category-table-colm">
                                    {{ obj.category }}
                                </p>

                                <p class="category-table-colm float-left">
                                       <a href="{% url 'category-attribute-value-add' obj.pk %}">مقادیر</a>
                                </p>
                                <p class="category-table-colm float-left">
                                    <a href="{% url 'category-attribute-update' obj.pk %}">ویرایش</a>
                                </p>

                                <p class="category-table-colm float-left">
                                    <a href="{% url 'category-attribute-delete' obj.pk %}">حذف</a>
                                </p>
                                <div class="clear-fix"></div>
                            </div>

                        </li>



                    {% endfor %}
                </ul>

            </div>
        </div>
    </div>

{% endblock %}


{% block customstyle %}
    <style>
        .min-width-set {
            min-width: 200px;
        }

        .clear-fix {
            clear: both;
        }

        .category-table-row {

            margin-bottom: 0;
            padding: 0px 15px;
            border-bottom: 1px solid #eee;
        }

        .sub-category-table-row {
            margin-right: 25px;
        }

        .category-table-colm {
            display: inline-block;
            margin-bottom: 0;
            padding: 8px 15px;
        }

        .custom-admin-main {
            padding: 20px;
        }

        .cat-block {
            display: inline-block;
            width: 45%;
            vertical-align: top;
        }
    </style>
{% endblock %}

{% block customjs %}
    <script>
        $('.js-example-basic-single').select2();
        $('.js-example-basic-single-two').select2();

        function changeFilter() {

            $('#filterlink').attr('href', '/gheymat-admin/category/' + $('#filter').val() + '/category-attribute/add')
        }
    </script>
{% endblock %}