<!--START-SEARCH-POPUP-->
<div class="search-popup">
    <div class="top-bar">
        <a href="" class="brand">
            <img src="assets/img/logo.webp" alt="">
        </a>
        <button class="btn btn-close">
            بستن
        </button>
    </div>
    <form action="">
        <div class="position-relative">
            <div class="form-group">
                <input type="text" placeholder="جستجو در قیمت ...">
            </div>
            <button class="btn btn-search">
                <i class="icon-u-search">
                    <span class="path1"></span>
                    <span class="path2"></span>
                </i>
            </button>
        </div>
        <div class="swiper-container swiper-search-results">
            <div class="swiper-wrapper">
                <a href="#" class="swiper-slide item">
                    <img src="assets/img/mobile.png" alt="">
                    گوشی شیائومی Redmi Note 10
                </a>
                <a href="#" class="swiper-slide item">
                    <img src="assets/img/mobile.png" alt="">
                    گوشی شیائومی Redmi Note 10
                </a>
                <a href="#" class="swiper-slide item">
                    <img src="assets/img/mobile.png" alt="">
                    گوشی شیائومی Redmi Note 10
                </a>
                <a href="#" class="swiper-slide item">
                    <img src="assets/img/mobile.png" alt="">
                    گوشی شیائومی Redmi Note 10
                </a>
            </div>
        </div>
        <ul class="search-result">
            <li>
                <a href="">
                    <i class="icon-u-category">
                        <span class="path1"></span>
                        <span class="path2"></span>
                    </i>
                    محصولات دسته بندی
                    <span class="blue">
                                موبایل و تبلت
                            </span>
                </a>
            </li>
            <li>
                <a href="">
                    <i class="icon-u-category">
                        <span class="path1"></span>
                        <span class="path2"></span>
                    </i>
                    محصولات برند
                    <span class="blue">
                                شیائومی
                            </span>
                </a>
            </li>

            <li>
                <a href="">
                    <i class="icon-u-search">
                        <span class="path1"></span>
                        <span class="path2"></span>
                    </i>
                    گوشی موبایل شیائومی مدل POCO X3 M200
                </a>
            </li>
            <li>
                <a href="">
                    <i class="icon-u-search">
                        <span class="path1"></span>
                        <span class="path2"></span>
                    </i>
                    گوشی موبایل شیائومی مدل POCO X3 M200
                </a>
            </li>
            <li>
                <a href="">
                    <i class="icon-u-search">
                        <span class="path1"></span>
                        <span class="path2"></span>
                    </i>
                    گوشی موبایل شیائومی مدل Redmi 9 M2004J19G
                </a>
            </li>
        </ul>
    </form>
</div>
<!--END-SEARCH-POPUP-->

<!--START-CATEGORY-POPUP-->
<div class="category-popup">
    <div class="main">
        <div class="top-bar">
            <div class="text">
                <i class="icon-u-user">
                    <span class="path1"></span>
                    <span class="path2"></span>
                </i>
                <b>احســـان خدامـــی پـــور</b>
            </div>
            <button class="btn btn-close">
                <i class="icon-close"></i>
            </button>
        </div>
        <div class="main-bar profile-main-bar">
            <div class="scroll">
                <div class="profile-section m-0 p-0">
                    <div class="rate">
                        <i class="icon-u-star">
                            <span class="path1"></span>
                            <span class="path2"></span>
                        </i>
                        2890 امتیاز کسب شده
                    </div>
                    <div class="date">
                        تاریخ عضویت / 27 آبان 1399
                    </div>
                    <ul class="nav nav-side">
                        <li class="nav-item">
                            <a href="" class="nav-link">
                                <div class="icon">
                                    <i class="icon-house"></i>
                                </div>
                                <span>
                                <b>
                                    داشبورد کاربری
                                </b>
                                مدیریت پنل
                            </span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="" class="nav-link">
                                <div class="icon">
                                    <i class="icon-health"></i>
                                </div>
                                <span>
                                <b>
                                    علاقه مندی ها
                                </b>
                                محصولات
                            </span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="" class="nav-link">
                                <div class="icon">
                                    <i class="icon-bar-chart"></i>
                                </div>
                                <span>
                                <b>
                                    تغییرات قیمت
                                </b>
                                در طی زمان
                            </span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="" class="nav-link">
                                <div class="icon">
                                    <i class="icon-shopping"></i>
                                </div>
                                <span>
                                <b>
                                    فروشگاه ها
                                </b>
                                ثبت نهایی
                            </span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="" class="nav-link">
                                <div class="icon">
                                    <i class="icon-eye"></i>
                                </div>
                                <span>
                                <b>
                                    آخرین بازدید ها
                                </b>
                                از محصولات
                            </span>
                            </a>
                        </li>


                        <li class="nav-item">
                            <a href="" class="nav-link">
                                <div class="icon">
                                    <i class="icon-add-user"></i>
                                </div>
                                <span>
                                <b>
                                    دعوت از دوستان
                                </b>
                                دریافت امتیاز
                            </span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="" class="nav-link">
                                <div class="icon">
                                    <i class="icon-edit"></i>
                                </div>
                                <span>
                                <b>
                                    نظرات ارائه شده
                                </b>
                                مشاهده و بررسی
                            </span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="" class="nav-link">
                                <div class="icon">
                                    <i class="icon-setting"></i>
                                </div>
                                <span>
                                <b>
                                    تنظیمات
                                </b>
                                بروزرسانی اطلاعات
                            </span>
                            </a>
                        </li>


                        <li class="nav-item">
                            <a href="" class="nav-link logout">
                                <div class="icon">
                                    <i class="icon-send"></i>
                                </div>
                                <span>
                                <b>
                                    خارج شوید
                                </b>
                                از پروفایل
                            </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="main-bar category-main-bar">
            <div class="scroll">
                <span class="title peyda">
                    <i class="icon-smartphone1"></i>
                    موبایل و تبلت
                </span>
                <ul class="nav nav-menu">
                    <li class="nav-item">
                        <a href="" class="nav-link">
                            گوشی موبایل
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="" class="nav-link">
                            تبلت
                        </a>
                    </li>
                    <li class="nav-item drop-down">
                        <a class="nav-link drop-down-toggle">
                            هدفون , هدست و هندزفری
                        </a>
                        <div class="drop-down-menu">
                            <a href="" class="drop-down-item">
                                تست
                            </a>
                            <a href="" class="drop-down-item">
                                تست
                            </a>
                            <a href="" class="drop-down-item">
                                تست
                            </a>
                            <a href="" class="drop-down-item">
                                تست
                            </a>
                        </div>
                    </li>
                    <li class="nav-item drop-down">
                        <a class="nav-link drop-down-toggle">
                            لواز جانبی
                        </a>
                        <div class="drop-down-menu">
                            <a href="" class="drop-down-item">
                                تست
                            </a>
                            <a href="" class="drop-down-item">
                                تست
                            </a>
                            <a href="" class="drop-down-item">
                                تست
                            </a>
                            <a href="" class="drop-down-item">
                                تست
                            </a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a href="" class="nav-link">
                            قطعات موبایل
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="" class="nav-link">
                            لوازم الکترونیکی همراه
                        </a>
                    </li>
                </ul>
                <a href="" class="show-more">
                    مشاهده همه
                    <i class="icon-down-chevron"></i>
                </a>
                <div class="line"></div>
                <span class="title peyda">
                    <i class="icon-imac"></i>
                    لپ تاپ و کامپیوتر
                </span>
                <ul class="nav nav-menu">
                    <li class="nav-item">
                        <a href="" class="nav-link">
                            گوشی موبایل
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="" class="nav-link">
                            تبلت
                        </a>
                    </li>
                    <li class="nav-item drop-down">
                        <a class="nav-link drop-down-toggle">
                            هدفون , هدست و هندزفری
                        </a>
                        <div class="drop-down-menu">
                            <a href="" class="drop-down-item">
                                تست
                            </a>
                            <a href="" class="drop-down-item">
                                تست
                            </a>
                            <a href="" class="drop-down-item">
                                تست
                            </a>
                            <a href="" class="drop-down-item">
                                تست
                            </a>
                        </div>
                    </li>
                    <li class="nav-item drop-down">
                        <a class="nav-link drop-down-toggle">
                            لواز جانبی
                        </a>
                        <div class="drop-down-menu">
                            <a href="" class="drop-down-item">
                                تست
                            </a>
                            <a href="" class="drop-down-item">
                                تست
                            </a>
                            <a href="" class="drop-down-item">
                                تست
                            </a>
                            <a href="" class="drop-down-item">
                                تست
                            </a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a href="" class="nav-link">
                            قطعات موبایل
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="" class="nav-link">
                            لوازم الکترونیکی همراه
                        </a>
                    </li>
                </ul>
                <a href="" class="show-more">
                    مشاهده همه
                    <i class="icon-down-chevron"></i>
                </a>
                <div class="line"></div>
                <span class="title peyda">
                    <i class="icon-imac"></i>
                    لپ تاپ و کامپیوتر
                </span>
                <ul class="nav nav-menu">
                    <li class="nav-item">
                        <a href="" class="nav-link">
                            گوشی موبایل
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="" class="nav-link">
                            تبلت
                        </a>
                    </li>
                    <li class="nav-item drop-down">
                        <a class="nav-link drop-down-toggle">
                            هدفون , هدست و هندزفری
                        </a>
                        <div class="drop-down-menu">
                            <a href="" class="drop-down-item">
                                تست
                            </a>
                            <a href="" class="drop-down-item">
                                تست
                            </a>
                            <a href="" class="drop-down-item">
                                تست
                            </a>
                            <a href="" class="drop-down-item">
                                تست
                            </a>
                        </div>
                    </li>
                    <li class="nav-item drop-down">
                        <a class="nav-link drop-down-toggle">
                            لواز جانبی
                        </a>
                        <div class="drop-down-menu">
                            <a href="" class="drop-down-item">
                                تست
                            </a>
                            <a href="" class="drop-down-item">
                                تست
                            </a>
                            <a href="" class="drop-down-item">
                                تست
                            </a>
                            <a href="" class="drop-down-item">
                                تست
                            </a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a href="" class="nav-link">
                            قطعات موبایل
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="" class="nav-link">
                            لوازم الکترونیکی همراه
                        </a>
                    </li>
                </ul>
                <a href="" class="show-more">
                    مشاهده همه
                    <i class="icon-down-chevron"></i>
                </a>
                <div class="line"></div>
                <span class="title peyda">
                    <i class="icon-imac"></i>
                    لپ تاپ و کامپیوتر
                </span>
                <ul class="nav nav-menu">
                    <li class="nav-item">
                        <a href="" class="nav-link">
                            گوشی موبایل
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="" class="nav-link">
                            تبلت
                        </a>
                    </li>
                    <li class="nav-item drop-down">
                        <a class="nav-link drop-down-toggle">
                            هدفون , هدست و هندزفری
                        </a>
                        <div class="drop-down-menu">
                            <a href="" class="drop-down-item">
                                تست
                            </a>
                            <a href="" class="drop-down-item">
                                تست
                            </a>
                            <a href="" class="drop-down-item">
                                تست
                            </a>
                            <a href="" class="drop-down-item">
                                تست
                            </a>
                        </div>
                    </li>
                    <li class="nav-item drop-down">
                        <a class="nav-link drop-down-toggle">
                            لواز جانبی
                        </a>
                        <div class="drop-down-menu">
                            <a href="" class="drop-down-item">
                                تست
                            </a>
                            <a href="" class="drop-down-item">
                                تست
                            </a>
                            <a href="" class="drop-down-item">
                                تست
                            </a>
                            <a href="" class="drop-down-item">
                                تست
                            </a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a href="" class="nav-link">
                            قطعات موبایل
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="" class="nav-link">
                            لوازم الکترونیکی همراه
                        </a>
                    </li>
                </ul>
                <a href="" class="show-more">
                    مشاهده همه
                    <i class="icon-down-chevron"></i>
                </a>
                <div class="line"></div>
                <span class="title peyda">
                    <i class="icon-imac"></i>
                    لپ تاپ و کامپیوتر
                </span>
                <ul class="nav nav-menu">
                    <li class="nav-item">
                        <a href="" class="nav-link">
                            گوشی موبایل
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="" class="nav-link">
                            تبلت
                        </a>
                    </li>
                    <li class="nav-item drop-down">
                        <a class="nav-link drop-down-toggle">
                            هدفون , هدست و هندزفری
                        </a>
                        <div class="drop-down-menu">
                            <a href="" class="drop-down-item">
                                تست
                            </a>
                            <a href="" class="drop-down-item">
                                تست
                            </a>
                            <a href="" class="drop-down-item">
                                تست
                            </a>
                            <a href="" class="drop-down-item">
                                تست
                            </a>
                        </div>
                    </li>
                    <li class="nav-item drop-down">
                        <a class="nav-link drop-down-toggle">
                            لواز جانبی
                        </a>
                        <div class="drop-down-menu">
                            <a href="" class="drop-down-item">
                                تست
                            </a>
                            <a href="" class="drop-down-item">
                                تست
                            </a>
                            <a href="" class="drop-down-item">
                                تست
                            </a>
                            <a href="" class="drop-down-item">
                                تست
                            </a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a href="" class="nav-link">
                            قطعات موبایل
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="" class="nav-link">
                            لوازم الکترونیکی همراه
                        </a>
                    </li>
                </ul>
                <a href="" class="show-more">
                    مشاهده همه
                    <i class="icon-down-chevron"></i>
                </a>
            </div>

        </div>
    </div>
</div>
<!--END-CATEGORY-POPUP-->

<!--START-HEADER-->
<header class="header">
    <div class="top-bar">
        <div class="container-fluid d-flex align-items-center">
            <a href="" class="back d-flex d-lg-none">
                <i class="icon-right"></i>
            </a>
            <a href="" class="brand">
                <img src="assets/img/logo.webp" alt="">
            </a>
            <div class="btn-cat btn-show-category d-block d-lg-none">
                <i class="icon-u-filter1">
                    <span class="path1"></span>
                    <span class="path2"></span>
                    <span class="path3"></span>
                    <span class="path4"></span>
                </i>
            </div>
            <form action="" class="d-none d-xl-block">
                <div class="form-group">
                    <input class="show-result" type="text"
                           placeholder="نام محصول یا دسته بندی مورد نظر را وارد کنید . . .">
                </div>
                <button class="btn btn-submit">
                    <i class="icon-u-search">
                        <span class="path1"></span>
                        <span class="path2"></span>
                    </i>
                </button>
                <ul class="search-result">
                    <li>
                        <a href="">
                            <i class="icon-u-category">
                                <span class="path1"></span>
                                <span class="path2"></span>
                            </i>
                            محصولات دسته بندی
                            <span class="blue">
                                موبایل و تبلت
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <i class="icon-u-category">
                                <span class="path1"></span>
                                <span class="path2"></span>
                            </i>
                            محصولات برند
                            <span class="blue">
                                شیائومی
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <i class="icon-u-search">
                                <span class="path1"></span>
                                <span class="path2"></span>
                            </i>
                            گوشی موبایل شیائومی مدل POCO X3 M200
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <i class="icon-u-search">
                                <span class="path1"></span>
                                <span class="path2"></span>
                            </i>
                            گوشی موبایل شیائومی مدل POCO X3 M200
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <i class="icon-u-search">
                                <span class="path1"></span>
                                <span class="path2"></span>
                            </i>
                            گوشی موبایل شیائومی مدل Redmi 9 M2004J19G
                        </a>
                    </li>
                </ul>
            </form>
            <ul class="nav d-none d-lg-flex">
                <li class="nav-item d-block d-xl-none">
                    <a href="" class="nav-link">
                        <i class="icon-u-search">
                            <span class="path1"></span>
                            <span class="path2"></span>
                        </i>
                        جستجو کنید
                    </a>
                </li>
                <li class="nav-item blue-theme">
                    <a href="" class="nav-link">
                        <i class="icon-u-user">
                            <span class="path1"></span>
                            <span class="path2"></span>
                        </i>
                        ورود کاربران
                    </a>
                </li>
                <li class="nav-item white-theme">
                    <a href="" class="nav-link">
                        <i class="icon-u-bag">
                            <span class="path1"></span>
                            <span class="path2"></span>
                        </i>
                        ساخت فروشگاه
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="main-bar d-none d-lg-block">
        <div class="container-fluid d-flex align-items-center">
            <a class="btn-show-category">
                <i class="icon-u-category">
                    <span class="path1"></span>
                    <span class="path2"></span>
                </i>
                دسته بندی ها
            </a>
            <ul class="nav">
                <li class="nav-item">
                    <a href="" class="nav-link">
                        صفحه نخست
                    </a>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-link">
                        درباره قیمت
                    </a>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-link">
                        پرسش های متداول
                    </a>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-link">
                        وبلاگ
                    </a>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-link">
                        قوانین
                    </a>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-link">
                        تماس با ما
                    </a>
                </li>
            </ul>
        </div>
    </div>
</header>
<!--END-HEADER-->
