<div>
    <ul>
        <li>
            <a href="{% url "category-add" %}">
                دسته بندی ها
            </a>
        </li>
        <li>
            <a href="{% url "attribute-add" %}">
                ویژگی های دسته بندی ها
            </a>
        </li>
        <li>
            <a href="{% url "global_attribute_add" %}">
                ویژگی های گلوبال
            </a>
        </li>
        <li>
            <a href="{% url "brand-add" %}">
                برند ها
            </a>
        </li>
        <li>
            <a href="{% url "product-all" %}">
                محصولات
            </a>
            <ul>
                <li>
                    <a href="{% url "product-add" %}">افزودن</a>
                </li>
            </ul>
        </li>

    </ul>
</div>