<div>
    <ul>
        <li><a href="{% url "category-add" %}">
            دسته بندی ها
        </a></li>
        <li><a href="{% url "brand-add" %}">
            برند ها
        </a></li>
        <li>
            <a href="{% url "product-all" %}">
                محصولات
            </a>
            <ul>
                <li>
                    <a href="{% url "product-add" %}">افزودن</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="{% url "category-attribute-add" %}">
                ویژگی های دسته بندی ها
            </a>

        </li>
    </ul>
</div>