<div class="product-category-selector">
    <label for="">دسته بندی</label>
    <ul class="list-style-none">
        {% for cat in category %}
            {% if not cat.parent %}
                <li>

                    {% if not cat.child_category_list.all %}
                        <input type="checkbox" id="{{ cat.id }}" value="{{ cat.id }}">
                    {% endif %}
                    <label for="{{ cat.id }}">{{ cat.name }}</label>
                    {% if cat.child_category_list.all %}
                        <span class="show-more-category">
                            <i class="fa-solid fa-angles-down"></i>
                         </span>
                    {% endif %}
                </li>
                {% if cat.child_category_list.all %}
                    <ul class="list-style-none" style="display: none">
                        {% for child1 in cat.child_category_list.all %}
                            <li>


                                {% if not child1.child_category_list.all %}
                                    <input type="checkbox" id="{{ child1.id }}" value="{{ child1.id }}">
                                {% endif %}
                                <label for="{{ child1.id }}">-{{ child1.name }}</label>
                                {% if child1.child_category_list.all %}
                                    <span class="show-more-category">
                                         <i class="fa-solid fa-angles-down"></i>
                                     </span>
                                {% endif %}
                            </li>
                            {% if child1.child_category_list.all %}
                                <ul class="list-style-none" style="display: none">
                                    {% for child2 in child1.child_category_list.all %}
                                        <li>

                                            {% if not child2.child_category_list.all %}
                                                <input type="checkbox" id="{{ child2.id }}"
                                                       value="{{ child2.id }}">
                                            {% endif %}
                                            <label for="{{ child2.id }}">--{{ child2.name }}</label>
                                            {% if child2.child_category_list.all %}
                                                <span class="show-more-category">
                                                     <i class="fa-solid fa-angles-down"></i>
                                                </span>
                                            {% endif %}
                                        </li>

                                        {% if child2.child_category_list.all %}
                                            <ul class="list-style-none" style="display: none">
                                                {% for child3 in child2.child_category_list.all %}
                                                    <li>

                                                        {% if not child3.child_category_list.all %}
                                                            <input type="checkbox" id="{{ child3.id }}"
                                                                   value="{{ child3.id }}">
                                                        {% endif %}
                                                        <label for="{{ child3.id }}">{{ child3.name }}</label>
                                                        {% if child3.child_category_list.all %}
                                                            <span class="show-more-category">
                                                                <i class="fa-solid fa-angles-down"></i>
                                                            </span>
                                                        {% endif %}
                                                    </li>
                                                    {% if child3.child_category_list.all %}
                                                        <ul class="list-style-none" style="display: none">
                                                            {% for child4 in child3.child_category_list.all %}
                                                                <li>
                                                                    {% if not child4.child_category_list.all %}
                                                                        <input type="checkbox" id="{{ child4.id }}"
                                                                               value="{{ child4.id }}">
                                                                    {% endif %}
                                                                    <label for="{{ child4.id }}">{{ child4.name }}</label>
                                                                    {% if  child4.child_category_list.all %}
                                                                        <span class="show-more-category">
                                                                            <i class="fa-solid fa-angles-down"></i>
                                                                        </span>
                                                                    {% endif %}
                                                                </li>
                                                                {% if child4.child_category_list.all %}
                                                                    <ul class="list-style-none">
                                                                        {% for child5 in child4.child_category_list.all %}
                                                                            <li>
                                                                                {% if not child5.child_category_list.all %}
                                                                                    <input type="checkbox"
                                                                                           id="{{ child5.id }}"
                                                                                           value="{{ child5.id }}">
                                                                                {% endif %}
                                                                                <label for="{{ child5.id }}">{{ child5.name }}</label>
                                                                                {% if child5.child_category_list.all %}
                                                                                    <span class="show-more-category">
                                                                                          <i class="fa-solid fa-angles-down"></i>
                                                                                    </span>

                                                                                {% endif %}
                                                                            </li>

                                                                            {% if child5.child_category_list.all %}
                                                                                <ul class="list-style-none">
                                                                                    {% for child6 in child5.child_category_list.all %}
                                                                                        <li>
                                                                                            {% if not child6.child_category_list.all %}
                                                                                                <input type="checkbox"
                                                                                                       id="{{ child6.id }}"
                                                                                                       value="{{ child6.id }}">
                                                                                            {% endif %}
                                                                                            <label for="{{ child6.id }}">{{ child6.name }}</label>
                                                                                            {% if child6.child_category_list.all %}
                                                                                                <span class="show-more-category">
                                                                                                     <i class="fa-solid fa-angles-down"></i>
                                                                                                </span>
                                                                                            {% endif %}
                                                                                        </li>

                                                                                        {% if child6.child_category_list.all %}
                                                                                            <ul class="list-style-none">
                                                                                                {% for child7 in child6.child_category_list.all %}
                                                                                                    <li>
                                                                                                        <input type="checkbox"
                                                                                                               id="{{ child7.id }}"
                                                                                                               value="{{ child7.id }}">
                                                                                                        <label for="{{ child7.id }}">{{ child7.name }}</label>

                                                                                                    </li>
                                                                                                {% endfor %}
                                                                                            </ul>
                                                                                        {% endif %}

                                                                                    {% endfor %}
                                                                                </ul>
                                                                            {% endif %}

                                                                        {% endfor %}
                                                                    </ul>
                                                                {% endif %}

                                                            {% endfor %}
                                                        </ul>
                                                    {% endif %}


                                                {% endfor %}
                                            </ul>
                                        {% endif %}
                                    {% endfor %}

                                </ul>
                            {% endif %}


                        {% endfor %}

                    </ul>
                {% endif %}
            {% endif %}
        {% endfor %}
    </ul>
</div>