{% extends 'base.html' %}

{% block content %}
    <!--START-MAIN-->
    <main>
        <!--START-BREADCRUMB-->
        <div class="bread-crumb">
            <div class="container-fluid d-flex justify-content-between align-items-center">
                <ul class="nav">
                    <li class="nav-item d-block d-lg-none">
                        <a href="" class="nav-link">
                            <i class="icon-house"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="" class="nav-link">
                            صفحه نخست
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="" class="nav-link">
                            آرشیو محصولات
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="" class="nav-link">
                            موبایل و تبلت
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="" class="nav-link">
                            گوشی موبایل
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="" class="nav-link">
                            برند سامسونگ
                        </a>
                    </li>
                </ul>
                <div class="num-p d-none d-lg-flex">
                    <i class="icon-left-arrow1"></i>
                    830 محصول یافت شد
                </div>
            </div>
        </div>
        <!--END-BREAD-CRUMB-->

        <!--START-PRODUCT-ARCHIVE-->
        <div class="product-archive">
            <div class="container-fluid p-0 d-flex align-items-start flex-wrap">
                <div class="col-xl-3 d-none d-xl-block">
                    <div class="sidebar-filter">
                        <div class="item">
                        <span class="head">
                            <i class="icon-main icon-u-category">
                                <span class="path1"></span>
                                <span class="path2"></span>
                            </i>
                            دسته بندی
                            <span class="icon show-body show">
                                <i class="icon-down"></i>
                            </span>
                        </span>
                            <div class="body" style="display: block">
                                <div class="scroll">
                                <span class="titr">
                                    {{ category.name }}
                                </span>
                                    <ul class="nav">
                                        {% for cats in category.child_category_list.all %}
                                            <li class="nav-item">
                                                <a href="" class="nav-link">
                                                    {{ cats.name }}
                                                </a>
                                            </li>
                                        {% endfor %}

                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                        <span class="head">
                            <i class="icon-main icon-u-folder">
                                <span class="path1"></span>
                                <span class="path2"></span>
                            </i>
                            شرکت سازنده
                            <span class="icon show-body">
                                <i class="icon-down"></i>
                            </span>
                        </span>
                            <div class="body" style="display: none">
                                <div class="scroll">
                                    <ul class="nav">

                                        {% for br in brand %}
                                            <li class="nav-item">
                                                <a href="" class="nav-link">
                                                    {{ br.1 }}
                                                </a>
                                            </li>
                                        {% endfor %}

                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="item">
                        <span class="head">
                            <i class="icon-main icon-u-filter">
                                <span class="path1"></span>
                                <span class="path2"></span>
                            </i>
                            سیستم عامل
                            <span class="icon show-body">
                                <i class="icon-down"></i>
                            </span>
                        </span>
                            <div class="body" style="display: none">
                                <div class="scroll">
                                    <ul class="nav">
                                        <li class="nav-item">
                                            <a href="" class="nav-link">
                                                اندروید
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="" class="nav-link">
                                                اندروید
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="" class="nav-link">
                                                اندروید
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="" class="nav-link">
                                                اندروید
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="" class="nav-link">
                                                اندروید
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="" class="nav-link">
                                                اندروید
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="" class="nav-link">
                                                اندروید
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="" class="nav-link">
                                                اندروید
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="" class="nav-link">
                                                اندروید
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="" class="nav-link">
                                                اندروید
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                        <span class="head">
                            <i class="icon-main icon-u-filter1">
                                <span class="path1"></span>
                                <span class="path2"></span>
                                <span class="path3"></span>
                                <span class="path4"></span>
                            </i>
                            بر اساس قیمت
                            <span class="icon show-body">
                                <i class="icon-down"></i>
                            </span>
                        </span>
                            <div class="body" style="display: none">
                                <div class="range-slider">
                                    <input type="text" class="js-range-slider" value=""/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-9">
                    <div class="filter-bar d-flex align-items-center flex-wrap">
                    <span class="filter d-none d-lg-block">
                        فیلتر ها
                    </span>
                        <ul class="nav nav-filter">
                            <li class="nav-item">
                                <i class="icon-close-circle1"></i>
                                تلفن همراه
                            </li>
                            <li class="nav-item">
                                <i class="icon-close-circle1"></i>
                                برند شیائومی
                            </li>
                            <li class="nav-item">
                                <i class="icon-close-circle1"></i>
                                128 گیگابایت
                            </li>
                            <li class="nav-item">
                                <i class="icon-close-circle1"></i>
                                جدید ترین
                            </li>
                        </ul>

                        <div class="sort d-none d-lg-flex">
                          <span class="filter">
                        مرتب سازی بر اساس
                        </span>
                            <select class="js-example-basic-single" name="state">
                                <option>
                                    جدیدترین
                                </option>
                                <option>
                                    جدیدترین
                                </option>
                                <option>
                                    جدیدترین
                                </option>
                            </select>
                        </div>
                    </div>

                    <div class="brand-bar">
                        <div class="swiper-container swiper-brands">
                            <div class="swiper-wrapper">
                                {% for br in brand %}

                                    <a href="{% url 'archive-brand' br.3 %}" class="swiper-slide item">
                                        <img src="/media/{{ br.2 }}" alt="{{ br.1 }}">
                                    </a>
                                {% endfor %}


                            </div>
                            <div class="btn-next swiper-button-next-brands">
                                <i class="icon-left-chevron"></i>
                            </div>
                        </div>
                    </div>
                    <div class="product-items">
                        {% for product in products %}
                            <div class="item">

                                <a href="{{ product.get_absolute_url }}"
                                   class="add-to-like ml-0 d-lg-none d-block">
                                <span class="icon ml-0">
                                    <i class="icon-heart"></i>
                                </span>
                                </a>
                                <img class="main-img" src="{{ product.get_photo_url }}" alt="">
                                <article>
                            <span class="title">
                             {{ product.title }}
                            </span>
                                    <div class="price d-none d-lg-flex">
                                        <i class="icon-u-Wallet">
                                            <span class="path1"></span>
                                            <span class="path2"></span>
                                        </i>

                                        از 12.890.000 تا 13.500.000 تومان
                                    </div>
                                    <div class="d-block d-lg-flex align-items-center">
                                        <div class="rate d-lg-none d-flex">
                                            <img src="assets/img/rate-green.png" alt="">
                                            امتیاز 4.8 از 5
                                        </div>
                                        <div class="colors">
                                            <div class="d-flex">
                                                <div class="circle">
                                                    <span style="background-color: #abafba"></span>
                                                </div>
                                                <div class="circle">
                                                    <span style="background-color: #5a5a5a"></span>
                                                </div>
                                                <div class="circle">
                                                    <span style="background-color: #84e6ff"></span>
                                                </div>
                                            </div>
                                            + 2
                                        </div>
                                        <div class="rate d-ld-flex d-none">
                                            <img src="assets/img/rate-green.png" alt="">
                                            امتیاز 4.8 از 5
                                        </div>
                                    </div>
                                    <div class="price d-flex d-lg-none">
                                        <i class="icon-u-Wallet">
                                            <span class="path1"></span>
                                            <span class="path2"></span>
                                        </i>
                                        شروع از 12.890.000
                                    </div>
                                    <div class="capacity-box d-block d-lg-none">
                                        موجود در 17 فروشگاه
                                    </div>
                                    <div class="d-none d-lg-flex align-items-center">
                                        <div class="box">
                                            <img src="assets/img/b-1.png" alt="">
                                            13.500.000 تومان
                                            <a href="" class="more">
                                                <i class="icon-left"></i>
                                            </a>
                                        </div>
                                        <div class="box">
                                            <img src="assets/img/b-2.png" alt="">
                                            13.500.000 تومان
                                            <a href="" class="more">
                                                <i class="icon-left"></i>
                                            </a>
                                        </div>
                                        <div class="box">
                                            <img src="assets/img/b-3.png" alt="">
                                            13.500.000 تومان
                                            <a href="" class="more">
                                                <i class="icon-left"></i>
                                            </a>
                                        </div>
                                        <div class="box chart-theme">
                                            <img src="assets/img/chart-green.png" alt="">
                                        </div>
                                    </div>
                                </article>
                                <div class="column d-none d-lg-flex">
                                    <a href="" class="add-to-like">
                                <span class="icon">
                                    <i class="icon-heart"></i>
                                </span>
                                        اضافـه بـه علاقه منـدی
                                    </a>
                                    <div class="w-100">
                                <span class="capacity">
                                    موجود در 17 فروشگاه
                                </span>
                                        <a href="{{ product.get_absolute_url }}" class="all-price">
                                            <i class="icon-u-cart">
                                                <span class="path1"></span>
                                                <span class="path2"></span>
                                            </i>
                                            همه قیمت ها
                                        </a>
                                    </div>
                                </div>
                                <div class="detail-mobile">
                                    <div class="box">
                                        <img src="assets/img/b-1.png" alt="">
                                        12.890.000 تومان
                                    </div>
                                    <div class="box">
                                        <img src="assets/img/b-2.png" alt="">
                                        12.890.000 تومان
                                    </div>
                                    <div class="box">
                                        <img src="assets/img/b-3.png" alt="">
                                        12.890.000 تومان
                                    </div>
                                    <div class="box close-detail">
                                        بستن جزئیات
                                    </div>
                                    <div class="red-bar">
                                        موجود در 17 فروشگاه
                                        <a href="{{ product.get_absolute_url }}">
                                            همه قیمت ها
                                            <span class="icon">
                                        <i class="icon-left"></i>
                                    </span>
                                        </a>
                                    </div>
                                </div>

                            </div>
                        {% endfor %}

                        <a href="#" class="show-more-p">
                            نمایش محصولات بیشتر
                            <div class="spinner-border" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </a>
                    </div>
                    <div class="banner-bar">
                        <div class="row">
                            <div class="col-lg-6">
                                <a href="">
                                    <img src="assets/img/banner-1.png" alt="">
                                </a>
                            </div>
                            <div class="col-lg-6">
                                <a href="">
                                    <img src="assets/img/banner-2.png" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="products">
                        <div class="header-section">
                        <span class="title peyda">
                            محصولات تخفیف دار
                        </span>
                            <a href="" class="see-all">
                            <span class="d-none d-lg-block">
                                مشاهده همه محصولات
                            </span>
                                <span class="icon">
                                <i class="icon-u-folder">
                                    <span class="path1"></span>
                                    <span class="path2"></span>
                                </i>
                            </span>
                            </a>
                        </div>
                        <div class="slider-container">
                            <div class="swiper-container swiper-p-1">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide item">
                                        <a href="">
                                            <img src="assets/img/mobile.png" alt="">
                                        </a>
                                        <a href="#" class="name">
                                            گوشی شیائومی Redmi Note 10
                                            حافظه 128 رم 6 گیگابایت
                                        </a>
                                        <div class="d-flex align-items-center">
                                            <div class="label">
                                                6 % تخفیف
                                            </div>
                                            <div class="seller">
                                                لیون مارکت
                                            </div>
                                            <a href="" class="btn-like">
                                                <i class="icon-heart"></i>
                                            </a>
                                        </div>
                                        <span class="price">
                                    <span class="small">
                                        شروع از
                                    </span>
                                     12.890.000
                                    <span class="small">
                                        تومان
                                    </span>
                                </span>
                                    </div>
                                    <div class="swiper-slide item">
                                        <a href="">
                                            <img src="assets/img/mobile.png" alt="">
                                        </a>
                                        <a href="#" class="name">
                                            گوشی شیائومی Redmi Note 10
                                            حافظه 128 رم 6 گیگابایت
                                        </a>
                                        <div class="d-flex align-items-center">
                                            <div class="label">
                                                6 % تخفیف
                                            </div>
                                            <div class="seller">
                                                لیون مارکت
                                            </div>
                                            <a href="" class="btn-like">
                                                <i class="icon-heart"></i>
                                            </a>
                                        </div>
                                        <span class="price">
                                    <span class="small">
                                        شروع از
                                    </span>
                                     12.890.000
                                    <span class="small">
                                        تومان
                                    </span>
                                </span>
                                    </div>
                                    <div class="swiper-slide item">
                                        <a href="">
                                            <img src="assets/img/mobile.png" alt="">
                                        </a>
                                        <a href="#" class="name">
                                            گوشی شیائومی Redmi Note 10
                                            حافظه 128 رم 6 گیگابایت
                                        </a>
                                        <div class="d-flex align-items-center">
                                            <div class="label">
                                                6 % تخفیف
                                            </div>
                                            <div class="seller">
                                                لیون مارکت
                                            </div>
                                            <a href="" class="btn-like">
                                                <i class="icon-heart"></i>
                                            </a>
                                        </div>
                                        <span class="price">
                                    <span class="small">
                                        شروع از
                                    </span>
                                     12.890.000
                                    <span class="small">
                                        تومان
                                    </span>
                                </span>
                                    </div>
                                    <div class="swiper-slide item">
                                        <a href="">
                                            <img src="assets/img/mobile.png" alt="">
                                        </a>
                                        <a href="#" class="name">
                                            گوشی شیائومی Redmi Note 10
                                            حافظه 128 رم 6 گیگابایت
                                        </a>
                                        <div class="d-flex align-items-center">
                                            <div class="label">
                                                6 % تخفیف
                                            </div>
                                            <div class="seller">
                                                لیون مارکت
                                            </div>
                                            <a href="" class="btn-like">
                                                <i class="icon-heart"></i>
                                            </a>
                                        </div>
                                        <span class="price">
                                    <span class="small">
                                        شروع از
                                    </span>
                                     12.890.000
                                    <span class="small">
                                        تومان
                                    </span>
                                </span>
                                    </div>
                                    <div class="swiper-slide item">
                                        <a href="">
                                            <img src="assets/img/mobile.png" alt="">
                                        </a>
                                        <a href="#" class="name">
                                            گوشی شیائومی Redmi Note 10
                                            حافظه 128 رم 6 گیگابایت
                                        </a>
                                        <div class="d-flex align-items-center">
                                            <div class="label">
                                                6 % تخفیف
                                            </div>
                                            <div class="seller">
                                                لیون مارکت
                                            </div>
                                            <a href="" class="btn-like">
                                                <i class="icon-heart"></i>
                                            </a>
                                        </div>
                                        <span class="price">
                                    <span class="small">
                                        شروع از
                                    </span>
                                     12.890.000
                                    <span class="small">
                                        تومان
                                    </span>
                                </span>
                                    </div>
                                    <div class="swiper-slide item">
                                        <a href="">
                                            <img src="assets/img/mobile.png" alt="">
                                        </a>
                                        <a href="#" class="name">
                                            گوشی شیائومی Redmi Note 10
                                            حافظه 128 رم 6 گیگابایت
                                        </a>
                                        <div class="d-flex align-items-center">
                                            <div class="label">
                                                6 % تخفیف
                                            </div>
                                            <div class="seller">
                                                لیون مارکت
                                            </div>
                                            <a href="" class="btn-like">
                                                <i class="icon-heart"></i>
                                            </a>
                                        </div>
                                        <span class="price">
                                    <span class="small">
                                        شروع از
                                    </span>
                                     12.890.000
                                    <span class="small">
                                        تومان
                                    </span>
                                </span>
                                    </div>
                                    <div class="swiper-slide item">
                                        <a href="">
                                            <img src="assets/img/mobile.png" alt="">
                                        </a>
                                        <a href="#" class="name">
                                            گوشی شیائومی Redmi Note 10
                                            حافظه 128 رم 6 گیگابایت
                                        </a>
                                        <div class="d-flex align-items-center">
                                            <div class="label">
                                                6 % تخفیف
                                            </div>
                                            <div class="seller">
                                                لیون مارکت
                                            </div>
                                            <a href="" class="btn-like">
                                                <i class="icon-heart"></i>
                                            </a>
                                        </div>
                                        <span class="price">
                                    <span class="small">
                                        شروع از
                                    </span>
                                     12.890.000
                                    <span class="small">
                                        تومان
                                    </span>
                                </span>
                                    </div>
                                    <div class="swiper-slide item">
                                        <a href="">
                                            <img src="assets/img/mobile.png" alt="">
                                        </a>
                                        <a href="#" class="name">
                                            گوشی شیائومی Redmi Note 10
                                            حافظه 128 رم 6 گیگابایت
                                        </a>
                                        <div class="d-flex align-items-center">
                                            <div class="label">
                                                6 % تخفیف
                                            </div>
                                            <div class="seller">
                                                لیون مارکت
                                            </div>
                                            <a href="" class="btn-like">
                                                <i class="icon-heart"></i>
                                            </a>
                                        </div>
                                        <span class="price">
                                    <span class="small">
                                        شروع از
                                    </span>
                                     12.890.000
                                    <span class="small">
                                        تومان
                                    </span>
                                </span>
                                    </div>
                                    <div class="swiper-slide item">
                                        <a href="">
                                            <img src="assets/img/mobile.png" alt="">
                                        </a>
                                        <a href="#" class="name">
                                            گوشی شیائومی Redmi Note 10
                                            حافظه 128 رم 6 گیگابایت
                                        </a>
                                        <div class="d-flex align-items-center">
                                            <div class="label">
                                                6 % تخفیف
                                            </div>
                                            <div class="seller">
                                                لیون مارکت
                                            </div>
                                            <a href="" class="btn-like">
                                                <i class="icon-heart"></i>
                                            </a>
                                        </div>
                                        <span class="price">
                                    <span class="small">
                                        شروع از
                                    </span>
                                     12.890.000
                                    <span class="small">
                                        تومان
                                    </span>
                                </span>
                                    </div>
                                    <div class="swiper-slide item">
                                        <a href="">
                                            <img src="assets/img/mobile.png" alt="">
                                        </a>
                                        <a href="#" class="name">
                                            گوشی شیائومی Redmi Note 10
                                            حافظه 128 رم 6 گیگابایت
                                        </a>
                                        <div class="d-flex align-items-center">
                                            <div class="label">
                                                6 % تخفیف
                                            </div>
                                            <div class="seller">
                                                لیون مارکت
                                            </div>
                                            <a href="" class="btn-like">
                                                <i class="icon-heart"></i>
                                            </a>
                                        </div>
                                        <span class="price">
                                    <span class="small">
                                        شروع از
                                    </span>
                                     12.890.000
                                    <span class="small">
                                        تومان
                                    </span>
                                </span>
                                    </div>
                                </div>
                            </div>
                            <div class="btn-nav next swiper-button-next-p-1">
                                <i class="icon-left-chevron"></i>
                            </div>
                            <div class="btn-nav prev swiper-button-prev-p-1">
                                <i class="icon-right-chevron"></i>
                            </div>
                        </div>
                    </div>
                    <div class="banner-bar">
                        <div class="row">
                            <div class="col-lg-6">
                                <a href="">
                                    <img src="assets/img/banner-1.png" alt="">
                                </a>
                            </div>
                            <div class="col-lg-6">
                                <a href="">
                                    <img src="assets/img/banner-2.png" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="products mb-0">
                        <div class="header-section">
                        <span class="title peyda">
                            محبوب ترین محصولات
                        </span>
                            <a href="" class="see-all">
                                     <span class="d-none d-lg-block">
                                مشاهده همه محصولات
                            </span>
                                <span class="icon">
                                <i class="icon-u-folder">
                                    <span class="path1"></span>
                                    <span class="path2"></span>
                                </i>
                            </span>
                            </a>
                        </div>
                        <div class="slider-container">
                            <div class="swiper-container swiper-p-2">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide item">
                                        <a href="">
                                            <img src="assets/img/mobile.png" alt="">
                                        </a>
                                        <div class="label gray-theme">
                                            محبوب ترین
                                        </div>
                                        <a href="#" class="name">
                                            گوشی شیائومی Redmi Note 10
                                            حافظه 128 رم 6 گیگابایت
                                        </a>
                                        <span class="price">
                                    <span class="small">
                                        شروع از
                                    </span>
                                     12.890.000
                                    <span class="small">
                                        تومان
                                    </span>
                                </span>
                                    </div>
                                    <div class="swiper-slide item">
                                        <a href="">
                                            <img src="assets/img/mobile.png" alt="">
                                        </a>
                                        <div class="label gray-theme">
                                            محبوب ترین
                                        </div>
                                        <a href="#" class="name">
                                            گوشی شیائومی Redmi Note 10
                                            حافظه 128 رم 6 گیگابایت
                                        </a>
                                        <span class="price">
                                    <span class="small">
                                        شروع از
                                    </span>
                                     12.890.000
                                    <span class="small">
                                        تومان
                                    </span>
                                </span>
                                    </div>
                                    <div class="swiper-slide item">
                                        <a href="">
                                            <img src="assets/img/mobile.png" alt="">
                                        </a>
                                        <div class="label gray-theme">
                                            محبوب ترین
                                        </div>
                                        <a href="#" class="name">
                                            گوشی شیائومی Redmi Note 10
                                            حافظه 128 رم 6 گیگابایت
                                        </a>
                                        <span class="price">
                                    <span class="small">
                                        شروع از
                                    </span>
                                     12.890.000
                                    <span class="small">
                                        تومان
                                    </span>
                                </span>
                                    </div>
                                    <div class="swiper-slide item">
                                        <a href="">
                                            <img src="assets/img/mobile.png" alt="">
                                        </a>
                                        <div class="label gray-theme">
                                            محبوب ترین
                                        </div>
                                        <a href="#" class="name">
                                            گوشی شیائومی Redmi Note 10
                                            حافظه 128 رم 6 گیگابایت
                                        </a>
                                        <span class="price">
                                    <span class="small">
                                        شروع از
                                    </span>
                                     12.890.000
                                    <span class="small">
                                        تومان
                                    </span>
                                </span>
                                    </div>
                                    <div class="swiper-slide item">
                                        <a href="">
                                            <img src="assets/img/mobile.png" alt="">
                                        </a>
                                        <div class="label gray-theme">
                                            محبوب ترین
                                        </div>
                                        <a href="#" class="name">
                                            گوشی شیائومی Redmi Note 10
                                            حافظه 128 رم 6 گیگابایت
                                        </a>
                                        <span class="price">
                                    <span class="small">
                                        شروع از
                                    </span>
                                     12.890.000
                                    <span class="small">
                                        تومان
                                    </span>
                                </span>
                                    </div>
                                    <div class="swiper-slide item">
                                        <a href="">
                                            <img src="assets/img/mobile.png" alt="">
                                        </a>
                                        <div class="label gray-theme">
                                            محبوب ترین
                                        </div>
                                        <a href="#" class="name">
                                            گوشی شیائومی Redmi Note 10
                                            حافظه 128 رم 6 گیگابایت
                                        </a>
                                        <span class="price">
                                    <span class="small">
                                        شروع از
                                    </span>
                                     12.890.000
                                    <span class="small">
                                        تومان
                                    </span>
                                </span>
                                    </div>
                                    <div class="swiper-slide item">
                                        <a href="">
                                            <img src="assets/img/mobile.png" alt="">
                                        </a>
                                        <div class="label gray-theme">
                                            محبوب ترین
                                        </div>
                                        <a href="#" class="name">
                                            گوشی شیائومی Redmi Note 10
                                            حافظه 128 رم 6 گیگابایت
                                        </a>
                                        <span class="price">
                                    <span class="small">
                                        شروع از
                                    </span>
                                     12.890.000
                                    <span class="small">
                                        تومان
                                    </span>
                                </span>
                                    </div>
                                    <div class="swiper-slide item">
                                        <a href="">
                                            <img src="assets/img/mobile.png" alt="">
                                        </a>
                                        <div class="label gray-theme">
                                            محبوب ترین
                                        </div>
                                        <a href="#" class="name">
                                            گوشی شیائومی Redmi Note 10
                                            حافظه 128 رم 6 گیگابایت
                                        </a>
                                        <span class="price">
                                    <span class="small">
                                        شروع از
                                    </span>
                                     12.890.000
                                    <span class="small">
                                        تومان
                                    </span>
                                </span>
                                    </div>
                                    <div class="swiper-slide item">
                                        <a href="">
                                            <img src="assets/img/mobile.png" alt="">
                                        </a>
                                        <div class="label gray-theme">
                                            محبوب ترین
                                        </div>
                                        <a href="#" class="name">
                                            گوشی شیائومی Redmi Note 10
                                            حافظه 128 رم 6 گیگابایت
                                        </a>
                                        <span class="price">
                                    <span class="small">
                                        شروع از
                                    </span>
                                     12.890.000
                                    <span class="small">
                                        تومان
                                    </span>
                                </span>
                                    </div>
                                </div>
                            </div>
                            <div class="btn-nav next swiper-button-next-p-2">
                                <i class="icon-left-chevron"></i>
                            </div>
                            <div class="btn-nav prev swiper-button-prev-p-2">
                                <i class="icon-right-chevron"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--START-PRODUCT-ARCHIVE-->

        <!--START-ABOUT-PRODUCTS-->
        <div class="about-products">
            <div class="container-fluid">
                <article class="bg">
                <span class="title peyda">
                    خــرید تــلفن همــراه هوشمنــد
                </span>
                    <p class="text">
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
                        چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی
                        مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه
                        درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری
                        را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این
                        صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد
                        وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی
                        اساسا مورد استفاده قرار گیرد .
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
                        چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی
                        مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه
                        درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری
                        را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این
                        صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد
                        وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی
                        اساسا مورد استفاده قرار گیرد .
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
                        چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی
                        مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه
                        درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری
                        را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این
                        صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد
                        وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی
                        اساسا مورد استفاده قرار گیرد .
                    </p>
                    <div class="more">
                    <span style="display: none">
                        جزئیات کمتر
                    </span>
                        <span>
                        جزئیات بیشتر
                    </span>
                        <i class="icon-down-chevron"></i>
                    </div>
                </article>
            </div>
        </div>
        <!--END-ABOUT-PRODUCTS-->
    </main>
    <!--END-MAIN-->

{% endblock %}

{% block title %}
    test heed
{% endblock %}

{% block customjs %}
    <script>

        $(".scroll").mCustomScrollbar({
            axis: "y" // horizontal scrollbar
        });

    </script>
    <!--SIDEBAR-DROP-->
    <script>
        $('.show-body').click(function () {
            $(this).toggleClass('show')
            $(this).parent().parent().find('.body').slideToggle()
        })
    </script>
    <!--RANGE SLIDER-->
    <script>


        $(function () {

            var $range = $(".js-range-slider"),
                $inputFrom = $(".js-input-from"),
                $inputTo = $(".js-input-to"),
                instance,
                min = 0,
                max = 600,
                from = 0,
                to = 0;

            $range.ionRangeSlider({
                type: "double",
                min: min,
                max: max,
                from: 0,
                to: 276,
                prefix: '<span>هزار تومان</span> ',
                onStart: updateInputs,
                onChange: updateInputs,
                step: 1,
                prettify_enabled: true,
                prettify_separator: ".",
                values_separator: " - ",
                force_edges: true


            });

            instance = $range.data("ionRangeSlider");

            function updateInputs(data) {
                from = data.from;
                to = data.to;

                $inputFrom.prop("value", from);
                $inputTo.prop("value", to);
            }

            $inputFrom.on("input", function () {
                var val = $(this).prop("value");

                // validate
                if (val < min) {
                    val = min;
                } else if (val > to) {
                    val = to;
                }

                instance.update({
                    from: val
                });
            });

            $inputTo.on("input", function () {
                var val = $(this).prop("value");

                // validate
                if (val < from) {
                    val = from;
                } else if (val > max) {
                    val = max;
                }

                instance.update({
                    to: val
                });
            });

        });
    </script>
    <!--NAV-FILTER-->
    <script>
        $('.nav-filter .nav-item i').click(function () {
            $(this).parent().hide()
        })
    </script>
    <!--ABOUT-PRODUCT-MORE-->
    <script>
        $('.about-products .more').click(function () {
            $(this).toggleClass('show')
            $(this).find('span').toggle()
            $(this).parent().find('.text').toggleClass('show')
        })
    </script>
    <!--ITEM-PRODUCTS-->
    <script>


        if (window.matchMedia("(max-width:992px)").matches) {

            $('.product-items .item').on('click', function (event) {
                $(this).parent().addClass('show-detail')
                $(this).parent().find('.detail-mobile').slideDown()
            });
            $('.product-items .item .detail-mobile').on('click', function (event) {
                event.stopPropagation();
            });

            $('.product-items .item .close-detail').click(function () {
                $('.product-items .item').removeClass('show-detail')
                $('.detail-mobile').slideUp()
            })

        }
    </script>
{% endblock %}